@model LMS.Core.Entities.ViewModels.NewUserViewModule
@{
    ViewData["Title"] = "AddUser";
}

<h1>Add a new User</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Add a new user</h4>
            <hr />
            <div class="form-group">
                    <label asp-for="RoleType" class="control-label"></label>
                    <select id="select" asp-for="RoleType" class="form-control">
                        <option value="A"> Student</option>
                        <option value="B"> Teacher</option>
                    </select>
                    <span asp-validation-for="RoleType" class="text-danger"></span>
            </div>
            <div class="form-group" id="select2">
                <label class="control-label"> Belongs to Course </label>
                <select asp-for="CourseId" asp-items="@Model.GetAllCourses" class="form-control">
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a class="btn btn-outline-secondary" asp-action="GetAllStudents">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
