@model LMS.Core.Entities.Module

@{
    ViewData["Title"] = "Create";
}


<h4 class="text-center text-muted m-2">Add New Module</h4>

<hr />

<div class="row justify-content-center">
    <div class="col-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Belongs to Course </label>
                <select id="select" asp-for="CourseId" asp-items="@Model.GetAllCourses" class="form-control">
                    @*TODO Add validation to let the app dosen't accept value 0*@
                    <option value="0">Select</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group  text-center">
                <input type="submit" value="Add Module" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
