@model LMS.Core.Entities.ViewModels.FilesViewModel

@{
    ViewData["Title"] = "Upload and download files";
}


<div class="text-left">
    <h2 style="margin-bottom:50px">Multiple File Upload</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <button type="submit">Upload</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" style="margin-top:50px">
            @ViewBag.Message
        </div>
    }

    <p style="margin-top: 50px">List of Files</p>

    <ul>
        @foreach (var item in Model.Files)
        {
            <li>
                <a asp-action="Download"
                   asp-route-filename="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>

</div>


@**********************************************************************************************@

<aside class="accordion">
    <h1>Upload & download files</h1>
    <div class="opened-for-codepen">
        <h2><i class="fas fa-folder">Course</i></h2>
        <div class="opened-for-codepen">
            <h3>Module</h3>
            <div>
                <h4>Activity</h4>
                <p>Assignment</p>
            </div>
        </div>
    </div>
</aside>

@**************************************CSS STYLE*************************************************@


<style>
    @** {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 100%;
    }*@

   
</style>