@model LMS.Core.Entities.Activity

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center text-muted m-2">Create New Activity</h4>

<hr />

<div class="row justify-content-center">
    <div class="col-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"> Belongs to Module </label>
                <select id="select" asp-for="ModuleId" asp-items="@Model.GetModulesSelectListItem" class="form-control">
                    <option value="0">Select</option>
                </select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"> Activity Type</label>
                <select id="selectItem" asp-for="ActivityType" class="form-control">
                    <option value="A">Assignments</option>
                    <option value="B">E_Learning</option>
                    <option value="C">lectures</option>
                    <option value="D">Other</option>
                </select>
                <span asp-validation-for="ActivityType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"> Start Date </label>
                <input asp-for="StartDate" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">End Date</label>
                <input asp-for="EndDate" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group" id="showList">
                <label class="control-label">Dead line</label>
                <input asp-for="Deadline" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group  text-center">
                <input type="submit" value="Add Activity" class="btn btn-outline-danger" />
                <a asp-controller="courses" asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
